@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

h1{
  font-family: 'Lexend Mega', sans-serif;
  text-transform: uppercase;
}
h1.header{
  color: #66FCF1; /*šikulka :) */ 
  
}
body {
  background-color: #0B0C10;
	/* a ted' ještě barvu textu na tu světlou */
	color: #C5C6C7;
}
.btn-large {
  border: 2px solid #45A29E !important;
  background-color: #0B0C10 !important;
	margin-bottom: 20vh;
}
.btn-large:hover {
	  background-color: #45A29E !important;
}
.modal img {
	width: 80%;
	height: auto;
}
.modal, .modal-footer {
	background-color: #0B0C10 !important;
}
.modal-footer a {
	color: #C5C6C7 !important;
}
#name {
	font-size: 2.7rem;
}
#about>.row>div {
	margin-bottom: 50px;
}
#post {
	font-size: 1.8rem;
}
#about>.row>div>img {
	margin-top: 20px;
}
@media screen and (max-width: 700px) {
	#about>.row>div>img {
		width: 50%;
	}
}
@media screen and (min-width: 700px) {
	#about>.row>div>img {
		width: 30%;
	}
}
.sidenav {
 background-color: #1F2833 !important;
 color: #C5C6C7 !important;
}
.sidenav li, .sidenav li > a, .material-icons {
	 color: #C5C6C7 !important;
}
.sidenav-trigger > i:nth-child(1) {
	width: 100px;
	height: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
html body section#contact.row div {
  font-size: 1.5rem;
}
.logo {
	filter: invert(100);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}