@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

h1{
  font-family: 'Lexend Mega', sans-serif;
  text-transform: uppercase;
}
h1.header{
  color: #66FCF1; /*šikulka :) */ 
  
}
body {
  background-color: #0B0C10;
	/* a ted' ještě barvu textu na tu světlou */
	color: #C5C6C7;
}
.btn-large {
  border: 2px solid #45A29E !important;
  background-color: #0B0C10 !important;
	margin-bottom: 20vh;
}
.btn-large:hover {
	  background-color: #45A29E !important;
}
.modal img {
	width: 80%;
	height: auto;
}
.modal, .modal-footer {
	background-color: #0B0C10 !important;
}
.modal-footer a {
	color: #C5C6C7 !important;
}
#name {
	font-size: 2.7rem;
}
#about>.row>div {
	margin-bottom: 50px;
}
#post {
	font-size: 1.8rem;
}
#about>.row>div>img {
	margin-top: 20px;
}
@media screen and (max-width: 700px) {
	#about>.row>div>img {
		width: 50%;
	}
}
@media screen and (min-width: 700px) {
	#about>.row>div>img {
		width: 30%;
	}
}
.sidenav {
 background-color: #1F2833 !important;
 color: #C5C6C7 !important;
}
.sidenav li, .sidenav li > a, .material-icons {
	 color: #C5C6C7 !important;
}
.sidenav-trigger > i:nth-child(1) {
	width: 100px;
	height: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
html body section#contact.row div {
  font-size: 1.5rem;
}
.logo {
	filter: invert(100);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
	transition-duration: 2s;
}
#about {
margin-top: 200px;
}
.img-full {
	width: 58vw;
}
body {
	margin:0;
}
.container { 
	height: 73.5vw;
	margin: 1vw auto;
	max-height: 750px;
	max-width: 1000px;
	overflow: hidden;
	width: 58vw !important;
}
.container figure { 
	background-image: url(img/pr/ultimate_deluxe_gold_eddition_pack_s_pro.jpg);
	background-size: cover;
	font-size: 0;
	height: 100%;
	margin: 0; 
	position: relative;
	width: 100%; 
}
#compare {
	background-image: url(img/pr/computer-phone.jpg);
	background-size: cover;
	bottom: 0;
	border-right: 5px solid rgba(255,255,255,0.7);
	box-shadow: 10px 0 15px -13px #000;
	height: 100%;
	max-width: 98.6%;
	min-width: 0.6%;
	overflow: visible;
	position: absolute;
	width: 70%; 
	animation: first 2s 1 normal ease-in-out 0.1s; 
	-webkit-animation: first 2s 1 normal ease-in-out 0.1s; 
}
input#slider {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none; 
	background: transparent;
	cursor: col-resize;
	height: 100vw;
	left: 0;
	margin: 0;
	outline: none; 
	padding: 0;
	position: relative;
	top: -100vw;
	width: 100%;
}
input#slider::-moz-range-track { 
	background: transparent; 
}
input#slider::-ms-track {
	border: none; 
	background-color: transparent;
	height: 100vw; 
	left: 0; 
	outline: none; 
	position: relative;
	top: -100vw; 
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: col-resize;
	color:transparent;
}
input#slider::-ms-fill-lower {
	background-color:transparent;
}
input#slider::-webkit-slider-thumb {
	-webkit-appearance:none;
	height: 100vw;
	width: 0.5%;
	opacity: 0;
}
input#slider::-moz-range-thumb {
	-moz-appearance: none;
	height: 100vw;
	width: 0.5%;
	opacity: 0;
}   
input#slider::-ms-thumb {
	height: 100vw;
	width: 0.5%; 
	opacity:0;
}
input#slider::-ms-tooltip {
	display:none;
}
#compare::before {
	background: url(img/pr/comparision.png) no-repeat scroll 0 center transparent;
	background-size:contain;
	content: " ";
	float: right;
	height: 100%;
	margin-right: -34px;
	position: relative;
	top:0;
	width: 64px;
}
@keyframes first {
  0% {width: 0%; }
  100% {width: 70%; }
}
@-webkit-keyframes first {
  0% {width: 0%; }
  100% {width: 70%; }
}
.product {
	margin-top: 20vh;
}